.messageFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.messageList {
  padding: 0 47px 0 0;
}

.messageArea {
  margin-top: 20px;
}
